img_menu RCDATA "src\\assets\\menu.png"
img_iluminacao RCDATA "src\\assets\\iluminacao.png"
img_loja RCDATA "src\\assets\\loja.png"
img_papel RCDATA "src\\assets\\papel.png"
img_source RCDATA "src\\assets\\lupa.png"
bebida1 RCDATA "src\\img\\bebida1.jpg"
bebida2 RCDATA "src\\img\\bebida2.jpg"
bebida3 RCDATA "src\\img\\bebida3.jpg"
bebida4 RCDATA "src\\img\\bebida4.jpg"
bebida5 RCDATA "src\\img\\bebida5.png"
bebida6 RCDATA "src\\img\\bebida6.png"
bebida7 RCDATA "src\\img\\bebida7.jpg"
bebida8 RCDATA "src\\img\\bebida8.jpg"
icon6 RCDATA "src\\assets\\fast-food (1).png"
icon1 RCDATA "src\\assets\\balanca-de-cozinha (1).png"
icon4 RCDATA "src\\assets\\churrasco.png"
icon2 RCDATA "src\\assets\\cocktail.png"
icon3 RCDATA "src\\assets\\coffee.png"
icon5 RCDATA "src\\assets\\dinheiro (1).png"
